/* Version Desktop */
/* ----------------*/

    /* Contenus principaux */
    #container{
        width:auto;
        margin:auto;
        max-width: 1600px;
    }

    hr{
        width: 10%;
    }

    section{
        padding: 0px 0 100px 0;
    }
     /* Slider */

     #slider{
        margin-top:0px;
        margin-bottom: 0px;
        padding-top:90px;
        height: 550px;
    }

    /* Alignement des liens sur ancre */
    section:target { padding-top: 70px; }

    /* Portfolio */

    #projets { padding-top:100px;}

    .title-project { display: none; }

    .rounded-button { display: none; }

    .one-project:hover .rounded-button { display:block; }

    .one-project:hover .title-project { display: block; }
