/* Style WebAgency 
Cyril Gallitre - février 2019
Design "mobile first"
*/

@font-face {
    font-family: 'fontawesomeregular';
    src: url('../fonts/fontawesome-webfont.eot') format('eot'),
         url('../fonts/fontawesome-webfont.woff') format('woff'),
         url('../fonts/fontawesome-webfont.ttf') format('ttf'),
         url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Contenus principaux */

body{
    font-family: 'fontawesomeregular','Trebuchet MS', Arial, sans-serif;
    color:#555555;
}

p{
    font-size: 0.9em;
}

section h2{
    text-transform: uppercase;  
    color:#000;
    font-size:1.8em;
    text-align: center;
    margin-bottom: 0;
    font-family: 'robotobold', 'Trebuchet MS', Arial, sans-serif;
}

section h3{
    font-size:1.2em;
    font-family: 'robotobold', 'Trebuchet MS', Arial, sans-serif;
    color:#000;
}

section .description{
    width:50%;
    margin:auto;
    margin-bottom: 40px;
    text-align: center;
}

section{
    padding: 50px 0 50px 0;
}

.title-line{
    font-size: 0.8em;
    color:#379ece;
    text-align:center;
}
hr{
    padding: 0 0 0 0;
    width:30%;
    margin:-26px auto 30px auto;
    border: 1px solid #d3d3d3;
}

/* En-tête */
header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: #ffffff;
    padding:10px 0 5px 0;
    z-index:5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Menu de navigation */
header nav { padding-top:20px; }

header nav ul{
    list-style-type: none;
    display:flex;
    justify-content: center;
}

header nav li{
    color : #555555;
    font-size: 0.9em;
    width:70px;
}

header nav a{
    text-decoration: none;
    color:#555555;
}

header nav a:hover{
    border-top: 2px solid #5cadd3; 
    padding-top:25px;
}

#active-home{
    border-top: 2px solid #5cadd3; 
    padding-top:25px;
}

header nav a:hover .active{
        border-top:0;
}

/* slider */
#slider{
    margin-top:100px;
    position:relative;
    background: url(../images/slider/bg1.jpg) no-repeat center;
    height:220px;
    background-size:contain;
    color:#ffffff;
}

.name { color:#5cadd3; }

#slogan{
    position: absolute;
    top:35%;
    left:3%;
}

#slider h1{
    text-transform: uppercase;
    font-size: 1.2em;
    width: 70%;
}

#slider p{
    display: none;
}

#fleche-gauche, #fleche-droite{
    display: none;
}

/* Services */
#services{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

#description-services{
    max-width:510px;
}

#img-services{
    display:block;
    max-width:510px;
}

.one-service{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0 50px 0 50px;

}

.icones-bleu { color :#5cadd3; }

.icones-gris { color: #f0f0f0; }

.icones-blanc { color:#fff; }

.text-services { margin-left:20px; }

/* Projets */

#projets { background-color: #f0f0f0; }

/* Barre de boutons */
#project-buttons{
    display: flex;
    justify-content: center;
    margin:0 0 20px -40px;
    list-style-type: none;
}


.filter-button{
    display:block;
    width:85px;
    position:relative;
    background-color: #cdcdcd;
    padding: 12px 0 8px 0;
    border-bottom: 4px solid #cdcdcd;
    text-align:center;
    color:#555555;
    text-decoration: none;
}
.fleche{
    position:relative;
    left:45px;
    color:#f0f0f0; 
}

.wrap-button:nth-child(1) .filter-button{
    border-radius: 5px 0 0 5px;
}

.wrap-button:nth-child(4) .filter-button{
    border-radius: 0 5px 5px 0;
}

.filter-button:hover{
    background-color: #5cadd3;
    color:#FFF;
    border-bottom: 4px solid #379ece;
}

#active-allworks{
    background-color: #5cadd3;
    color:#FFF;
    border-bottom: 4px solid #379ece;
}

#active-arrow{
    color:#379ece;
    top:-10px;
}
.filter-button:hover + .fleche{
    color:#379ece;
    top:-10px;
}

/* portfolio */
#list-project{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.one-project{
    position:relative;
    overflow:hidden;
    margin: 0 20px 30px 20px;
}

.title-project{
    position: absolute;
    bottom:3px;
    background-color: rgba(96, 96, 96, 0.6);
    color:#fff;
    font-size: 0.8em;
    width: 100%;
}

.rounded-button{
    position: absolute;
    top:67%;
    right:10px;
}

.one-project p{
    padding: 0 0 0 5px;
    margin: 0px 0 5px 0;
}

.one-project h3{
    padding: 0 0 0 5px;
    margin: 5px 0 5px 0;
    color:#FFF;
}

/* Pied de page */

footer{
    position:relative;
    font-size: 0.9em;
}

footer form{
    background-color: rgba(250, 250, 250, .75);
    width:260px;
    margin:50px auto 50px auto;
}

footer textarea, footer .champs { width: 90%; }

footer address p,{
    margin: 0 0 0 0;
    padding: 5px 0 0 0;
}

#enterprise-name { font-weight: bold; }

address { font-style:normal; }

textarea { resize:none; }

.button{
    background-color: #5cadd3;
    width:120px;
    text-align: center;
    padding: 12px 0 8px 0;
    border-radius: 5px;
    color:#FFF;
    border-bottom: 4px solid #379ece;
}

.button:hover{
    background-color: #cdcdcd;
    color:#555555;
    border-bottom: 4px solid #cdcdcd;
}