/* Version Tablette */
/* ----------------*/


    /* Contenus principaux */

    hr { width:20%; }
    
    section { padding: 75px 0 75px 0; }

    section .description { width:50% }

     /* Alignement des liens sur ancre */
     section:target { padding-top: 120px; }
     #nos-projets:target { padding-top: 120px; }
     footer:target { padding-top: 0px; }

    /* Entête */
    header { justify-content: space-around; }

    /* Slider */
    #slider{
        margin-top:0px;
        height: 400px;
        margin-bottom: -60px;
    }

    #slider h1 { font-size:1.8em; }

    #slider p { display: block; }

    #slogan{
        top:30%;
        left:8%;
    }
    #left-arrow{
        position: absolute;
        top:45%;
        left:0;
        font-size:3.5em;
        display: inline-block;
        height: 80px;
        overflow:hidden;
    }
    
    #right-arrow{
        position: absolute;
        top:45%;
        right:0;
        font-size:3.5em;
        display: inline-block;
        height: 80px;
        overflow:hidden;
    }

    .icones-dark{
        color:rgba(85, 85, 85, .8);  
    }

    /* Services */
    
    #description-services{
        max-width:500px;
    }
    
    #img-services{
        max-width:500px;
    }

    /* Projets */
    .filter-button{
        width:100px;
    }

    /* Footer */
    footer form{
        position: absolute;
        margin: auto;
        padding:0 0 20px 20px;
        bottom :7px;
        right : 100px;
        background-color: rgba(250, 250, 250, .75);
    }

    #map-google{
        background: linear-gradient(rgba(86,192,224,0.45),rgba(86,192,224,0.45)), url(../images/carte.png) no-repeat center;
        height: 500px;
    
    }

    /* Version paysage */
    @media screen and (orientation:landscape){
        #slider { height:500px; }
    }