/* ------------ */
/* Tablette  */
/* ------------ */

@media all and (max-width: 980px){

    #services{
        display: flex;
        flex-direction:column;
        justify-content: center;
     }

    #description-services{

    }

    #img-services{
        width:70%;
    }
}

/* ------------ */
/* Smartphone  */
/* ------------ */

@media all and (max-width: 480px){

    /* Contenus Principaux */
    section{
        margin-top:20px;
    }

    /* Entête */
    header{
        height:100px;
    }

    #wrap-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    ul { 
        margin : 0 auto 20px auto;
    }

    #slider{
        background-size:cover;
        height:200px;
    }

    #slogan{
        position: absolute;
        top:32%;
        left:15%;
        right:10%;
    }

    #slider h1{
        font-size:1.2em;
    }

    #fleche-gauche{
        top:50%;
    }
    
    #fleche-droite{
        top:50%;
    }

    .button{     
        width:100px;     
        padding: 8px 0 4px 0;

    }

    /* Services */

    hr { width:20%; }

    #services{
        display: flex;
        flex-direction:column;
        justify-content: center;
    
     }

     .description { display:none; }

    #description-services{
  
    }

    #img-services{
       display:none;
    }



    /* Projets */

    .filter-button{
        width:85px;
    }

    /* Footer */

    footer form{
        right : 40px;
    }

}
