/* ------------ */
/* Tablette  */
/* ------------ */

@media all and (max-width: 980px){

    #services{
        display: flex;
        flex-direction:column;
        justify-content: center;
     }

    #description_services{
    
        width: 80%;
        margin:auto;
    }

    #img_services{
        width: 80%;
        margin:auto;

    }
}

/* ------------ */
/* Smartphone  */
/* ------------ */

@media all and (max-width: 480px){

    #services{
        display: flex;
        flex-direction:column;
        justify-content: center;
     }

    #description_services{
        width: 80%;
        margin:auto;
    }

    #img_services{
       display:none;
    }

    #slider{
        display: none;
    }

    section{
        margin-top:60px;
    }

    footer form{
        right : 40px;
    }
}
